[package]
name = "oak_debug_service"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"

[build-dependencies]
oak_grpc_utils = { workspace = true }

[dependencies]
oak_grpc = { workspace = true }
oak_proto_rust = { workspace = true }
pprof = { version = "*", features = ["frame-pointer", "prost-codec"] }
prost = "*"
prost-types = "*"
tokio = { version = "*" }
tonic = { workspace = true }

[dev-dependencies]
tokio = { version = "*", features = ["rt-multi-thread", "macros"] }
