# Configuration used for dependency checking with cargo-deny.
#
# For further details on all configuration options see:
# https://embarkstudios.github.io/cargo-deny/checks/cfg.html
targets = [{ triple = "x86_64-unknown-linux-musl" }]

# Deny all advisories unless explicitly ignored.
[advisories]
vulnerability = "deny"
unmaintained = "deny"
yanked = "deny"
notice = "deny"
ignore = [
  # We rely on flatbuffers, which generates potentially unsafe code via "safe" APIs.
  # See https://github.com/google/flatbuffers/issues/6627
  "RUSTSEC-2021-0122",
]

# Deny multiple versions unless explicitly skipped.
[bans]
multiple-versions = "allow"
wildcards = "allow"

# List of allowed licenses.
# For more detailed information see http://go/thirdpartylicenses.
[licenses]
allow = ["Apache-2.0", "BSD-3-Clause", "MIT", "MPL-2.0"]
copyleft = "deny"
