name = "mobilenet"

[applications]

[applications.rust]
type = "OakFunctions"
target = { Cargo = { cargo_manifest = "oak_functions/examples/mobilenet/module/Cargo.toml" } }

[server]
additional_args = [
  "--config-path=./oak_functions/examples/mobilenet/config.toml"
]
server_variant = "Unsafe"

[clients]
rust = { Cargo = { cargo_manifest = "oak_functions/examples/mobilenet/client/rust/Cargo.toml" } }
