# Bazel build defaults.
# incompatible_enable_cc_toolchain_resolution:
#   Should not be needed after Bazel 7.0 is released.
# cxxopt='-std=c++17': 
#   Build C++ targets using C++17.
#   <https://stackoverflow.com/questions/40260242/how-to-set-c-standard-version-when-build-with-bazel>
build --incompatible_enable_cc_toolchain_resolution --cxxopt='-std=c++17'
