UseColor: true

Checks: >
    bugprone-*,
    google-*,
    performance-*,
    -performance-no-int-to-ptr,
    -bugprone-reserved-identifier,
    -bugprone-narrowing-conversions,

WarningsAsErrors: "*"
