[workspace]
resolver = "2"
members = [
  "experimental/attestation_common",
  "experimental/https_attestation",
  "experimental/offline_attestation/client",
  "experimental/offline_attestation/server",
  "experimental/offline_attestation/shared",
  "experimental/proxy_attestation",
  "experimental/tf_proxy/client",
  "experimental/tf_proxy/server",
  "experimental/tls_attestation",
  "experimental/trusted_shuffler/backend",
  "experimental/trusted_shuffler/client",
  "experimental/trusted_shuffler/common",
  "experimental/trusted_shuffler/server",
  "experimental/trusted_shuffler/trusted_shuffler",
  "experimental/uefi/client",
  "experimental/uefi/loader",
  "experimental/uefi/runtime",
  "oak_functions/abi",
  "oak_functions/client/rust",
  "oak_functions/examples/benchmark/module",
  "oak_functions/examples/echo/module",
  "oak_functions/examples/fuzzable/module",
  "oak_functions/examples/key_value_lookup/module",
  "oak_functions/examples/metrics/client/rust",
  "oak_functions/examples/metrics/module",
  "oak_functions/examples/mobilenet/client/rust",
  "oak_functions/examples/mobilenet/module",
  "oak_functions/examples/weather_lookup/module",
  "oak_functions/experimental/tf_inference",
  "oak_functions/experimental/metrics",
  "oak_functions/extension",
  "oak_functions/load_test",
  "oak_functions/loader",
  "oak_functions/location_utils",
  "oak_functions/logger",
  "oak_functions/lookup",
  "oak_functions/lookup_data_checker",
  "oak_functions/lookup_data_generator",
  "oak_functions/oak_functions_loader_base",
  "oak_functions/oak_functions_loader_unsafe",
  "oak_functions/sdk/oak_functions",
  "oak_functions/sdk/oak_functions/tests/lookup_module",
  "oak_functions/sdk/oak_functions/tests/testing_module",
  "oak_functions/sdk/oak_functions/tests/metrics_module",
  "oak_functions/sdk/oak_functions/tests/tf_module",
  "oak_functions/sdk/test_utils",
  "oak_functions/util",
  "oak_idl",
  "remote_attestation/rust",
  "remote_attestation_sessions",
  "xtask",
]
exclude = [
  "experimental/uefi/app",
  "oak_functions/loader/fuzz",
  "third_party/ring"
]
