[workspace]
resolver = "2"
members = [
  "experimental/offline_attestation/client",
  "experimental/offline_attestation/server",
  "experimental/offline_attestation/shared",
  "experimental/vsock/echo",
  "experimental/web_client",
  "linux_boot_params",
  "micro_rpc",
  "micro_rpc_build",
  "micro_rpc_tests",
  "oak_channel",
  "oak_core",
  "oak_enclave_runtime_support",
  "oak_functions/examples/benchmark/module",
  "oak_functions/examples/echo/module",
  "oak_functions/examples/key_value_lookup/module",
  "oak_functions/examples/weather_lookup/module",
  "oak_functions/extension",
  "oak_functions/load_test",
  "oak_functions/location_utils",
  "oak_functions/logger",
  "oak_functions/lookup",
  "oak_functions/lookup_data_checker",
  "oak_functions/lookup_data_generator",
  "oak_functions/testing",
  "oak_functions/wasm",
  "oak_functions/workload_logging",
  "oak_functions_abi",
  "oak_functions_client",
  "oak_functions_launcher",
  "oak_functions_linux_fd_bin",
  "oak_functions_linux_vsock_bin",
  "oak_functions_sdk",
  "oak_functions_sdk/tests/lookup_module",
  "oak_functions_sdk/tests/testing_module",
  "oak_functions_service",
  "oak_functions_test_utils",
  "oak_hello_world_linux_init",
  "oak_remote_attestation_amd",
  "oak_remote_attestation_interactive",
  "oak_remote_attestation_noninteractive",
  "oak_remote_attestation_sessions",
  "oak_remote_attestation_sessions_client",
  "oak_restricted_kernel",
  "oak_restricted_kernel_api",
  "oak_restricted_kernel_interface",
  "oak_sev_guest",
  "oak_simple_io",
  "oak_tensorflow_service",
  "oak_virtio",
  "sev_serial",
  "snp_measurement",
  "testing/oak_echo_service",
  "xtask",
]
exclude = [
  "fuzz",
  "oak_enclave_shim",
  "oak_functions/loader/fuzz",
  "oak_functions_enclave",
  "oak_tensorflow_enclave",
  "stage0",
  "testing/oak_echo_enclave",
  "testing/oak_echo_raw_enclave",
  "testing/sev_snp_hello_world_kernel",
  "third_party/curve25519-dalek",
  "third_party/rust-hypervisor-firmware-virtio",
  "third_party/x25519-dalek"
]
