[workspace]
resolver = "2"
members = [
  "linux_boot_params",
  "micro_rpc",
  "micro_rpc_build",
  "micro_rpc_tests",
  "oak_channel",
  "oak_client",
  "oak_core",
  "oak_echo_linux_init",
  "oak_enclave_runtime_support",
  "oak_functions/examples/benchmark/module",
  "oak_functions/examples/echo/module",
  "oak_functions/examples/key_value_lookup/module",
  "oak_functions/examples/weather_lookup/module",
  "oak_functions/extension",
  "oak_functions/load_test",
  "oak_functions/location_utils",
  "oak_functions/logger",
  "oak_functions/lookup",
  "oak_functions/lookup_data_checker",
  "oak_functions/lookup_data_generator",
  "oak_functions/testing",
  "oak_functions/wasm",
  "oak_functions/workload_logging",
  "oak_functions_abi",
  "oak_functions_client",
  "oak_functions_launcher",
  "oak_functions_linux_fd_bin",
  "oak_functions_linux_vsock_bin",
  "oak_functions_sdk",
  "oak_functions_sdk/tests/lookup_module",
  "oak_functions_sdk/tests/testing_module",
  "oak_functions_service",
  "oak_functions_test_utils",
  "oak_hello_world_linux_init",
  "oak_launcher_utils",
  "oak_remote_attestation_amd",
  "oak_remote_attestation_interactive",
  "oak_remote_attestation_noninteractive",
  "oak_remote_attestation_sessions",
  "oak_remote_attestation_sessions_client",
  "oak_restricted_kernel",
  "oak_restricted_kernel_api",
  "oak_restricted_kernel_interface",
  "oak_sev_guest",
  "oak_simple_io",
  "oak_tensorflow_service",
  "oak_virtio",
  "sev_serial",
  "snp_measurement",
  "testing/oak_echo_service",
  "quirk_echo_launcher",
  "quirk_echo_service",
  "xtask",
]
exclude = [
  "fuzz",
  "oak_enclave_binary",
  "oak_functions/loader/fuzz",
  "oak_functions_app",
  "oak_tensorflow_app",
  "stage0",
  "testing/oak_echo_app",
  "testing/oak_echo_raw_app",
  "testing/sev_snp_hello_world_kernel",
  "third_party/curve25519-dalek",
  "third_party/rust-hypervisor-firmware-virtio",
  "third_party/x25519-dalek"
]

[workspace.dependencies]
# Declare workspace-wide dependencies so that they don't need to use relative paths to refer to each other, and they are always kept in sync.
# Local crates.
location_utils = { path = "./oak_functions/location_utils" }
micro_rpc = { path = "./micro_rpc" }
micro_rpc_build = { path = "./micro_rpc_build" }
oak_channel = { path = "./oak_channel" }
oak_core = { path = "./oak_core" }
oak_enclave_runtime_support = { path = "./oak_enclave_runtime_support" }
oak_functions_abi = { path = "./oak_functions_abi" }
oak_functions_client = { path = "./oak_functions_client" }
oak_functions_extension = { path = "./oak_functions/extension" }
oak_functions_lookup = { path = "./oak_functions/lookup" }
oak_functions_sdk = { path = "./oak_functions_sdk" }
oak_functions_service = { path = "./oak_functions_service", default-features = false }
oak_functions_test_utils = { path = "./oak_functions_test_utils" }
oak_functions_testing_extension = { path = "./oak_functions/testing" }
oak_functions_wasm = { path = "./oak_functions/wasm" }
oak_functions_workload_logging = { path = "./oak_functions/workload_logging" }
oak_grpc_utils = { path = "./oak_grpc_utils" }
oak_linux_boot_params = { path = "./linux_boot_params" }
oak_logger = { path = "./oak_functions/logger" }
oak_remote_attestation_amd = { path = "./oak_remote_attestation_amd", default-features = false, features = [
  "rust-crypto"
] }
oak_remote_attestation_interactive = { path = "./oak_remote_attestation_interactive", default-features = false, features = [
  "rust-crypto"
] }
oak_remote_attestation_noninteractive = { path = "./oak_remote_attestation_noninteractive" }
oak_remote_attestation_sessions = { path = "./oak_remote_attestation_sessions", default-features = false, features = [
  "rust-crypto"
] }
oak_restricted_kernel_api = { path = "./oak_restricted_kernel_api" }
oak_restricted_kernel_interface = { path = "./oak_restricted_kernel_interface" }
oak_sev_guest = { path = "./oak_sev_guest", default-features = false }
oak_simple_io = { path = "./oak_simple_io" }
oak_virtio = { path = "./oak_virtio" }
sev_serial = { path = "./sev_serial" }
# Common external crates.
prost = { version = "*", default-features = false, features = ["prost-derive"] }
prost-build = "*"
prost-types = "*"
tokio = "*"
tonic = "*"
tonic-build = { version = "*", default-features = false }

# TODO(#3706): Remove when patching PR is merged upstream and released.
[patch.crates-io]
virtio-drivers = { git = 'https://github.com/conradgrobler/virtio-drivers', branch = 'fix-console' }
