[workspace]
resolver = "2"
members = [
  "experimental/attestation_common",
  "experimental/https_attestation",
  "experimental/offline_attestation/client",
  "experimental/offline_attestation/server",
  "experimental/offline_attestation/shared",
  "experimental/proxy_attestation",
  "experimental/tf_proxy/client",
  "experimental/tf_proxy/server",
  "experimental/tls_attestation",
  "experimental/trusted_shuffler/backend",
  "experimental/trusted_shuffler/client",
  "experimental/trusted_shuffler/common",
  "experimental/trusted_shuffler/server",
  "experimental/trusted_shuffler/trusted_shuffler",
  "experimental/oak_baremetal_channel",
  "experimental/oak_baremetal_kernel",
  "experimental/oak_baremetal_launcher",
  "experimental/oak_functions_loader_linux_native",
  "experimental/oak_functions_loader_linux_vsock",
  "experimental/oak_baremetal_runtime",
  "experimental/oak_baremetal_simple_io",
  "experimental/sev_guest",
  "experimental/virtio",
  "experimental/vsock/echo",
  "experimental/web_client",
  "oak_functions/abi",
  "oak_functions/client/rust",
  "oak_functions/examples/benchmark/module",
  "oak_functions/examples/echo/module",
  "oak_functions/examples/key_value_lookup/module",
  "oak_functions/examples/metrics/client/rust",
  "oak_functions/examples/metrics/module",
  "oak_functions/examples/mobilenet/client/rust",
  "oak_functions/examples/mobilenet/module",
  "oak_functions/examples/weather_lookup/module",
  "oak_functions/experimental/tf_inference",
  "oak_functions/experimental/metrics",
  "oak_functions/extension",
  "oak_functions/load_test",
  "oak_functions/loader",
  "oak_functions/location_utils",
  "oak_functions/logger",
  "oak_functions/lookup",
  "oak_functions/lookup_data_checker",
  "oak_functions/lookup_data_generator",
  "oak_functions/oak_functions_loader_base",
  "oak_functions/oak_functions_loader_unsafe",
  "oak_functions/sdk/oak_functions",
  "oak_functions/sdk/oak_functions/tests/lookup_module",
  "oak_functions/sdk/oak_functions/tests/testing_module",
  "oak_functions/sdk/oak_functions/tests/metrics_module",
  "oak_functions/sdk/oak_functions/tests/tf_module",
  "oak_functions/sdk/test_utils",
  "oak_functions/testing",
  "oak_functions/util",
  "oak_functions/workload_logging",
  "oak_functions/wasm",
  "oak_idl",
  "oak_idl_gen_services",
  "oak_idl_gen_structs",
  "oak_idl_tests",
  "remote_attestation/rust",
  "remote_attestation_sessions",
  "remote_attestation_sessions_client",
  "xtask",
]
exclude = [
  "experimental/oak_baremetal_app_qemu",
  "experimental/oak_baremetal_app_crosvm",
  "oak_functions/loader/fuzz",
  "third_party/curve25519-dalek",
  "third_party/rust-hypervisor-firmware-boot",
  "third_party/rust-hypervisor-firmware-virtio",
  "third_party/x25519-dalek"
]

[patch.crates-io]
# Ensure no_std compatibility. TODO(#2920): remove once https://github.com/google/flatbuffers/pull/7338 is merged.
flatbuffers = { git = "https://github.com/jul-sh/flatbuffers.git", rev = "a07ddee936737da89aeb5a496f9742a805537188" }
# Ensure no_std compatibility. Dependency of flatbuffers. TODO(#2920): remove once https://github.com/bbqsrc/thiserror-core2/pull/3 is merged.
thiserror_core2 = { git = "https://github.com/jul-sh/thiserror-core2.git", rev = "b99e1a0106623cbbd12cbb5562d01df7a3fdc22e" }
