# Configuration used for dependency checking with cargo-deny.
#
# For further details on all configuration options see:
# https://embarkstudios.github.io/cargo-deny/checks/cfg.html
targets = [{ triple = "x86_64-unknown-linux-musl" }]

# Deny all advisories unless explicitly ignored.
[advisories]
vulnerability = "deny"
unmaintained = "deny"
unsound = "deny"
yanked = "deny"
notice = "deny"
ignore = []

[bans]
multiple-versions = "allow"
wildcards = "allow"

# Allow git repositories.
[sources]
unknown-git = "allow"

# List of allowed licenses.
# For more detailed information see http://go/thirdpartylicenses.
[licenses]
allow = [
  "Apache-2.0",
  "Apache-2.0 WITH LLVM-exception",
  "BSD-2-Clause",
  "BSD-3-Clause",
  "ISC",
  "MIT",
  "MPL-2.0",
  "OpenSSL",
  "Unicode-DFS-2016",
  "Unlicense",
]
copyleft = "deny"

[[licenses.clarify]]
name = "ring"
expression = "MIT AND ISC AND OpenSSL"
license-files = [{ path = "LICENSE", hash = 3171872035 }]

# See https://github.com/hsivonen/encoding_rs#licensing
[[licenses.clarify]]
name = "encoding_rs"
version = "*"
expression = "(Apache-2.0 OR MIT) AND BSD-3-Clause"
license-files = [{ path = "COPYRIGHT", hash = 972598577 }]

# See https://github.com/johannesvollmer/exrs/blob/c2f89e85af3f15477c2da52e08b6d71a2577ec0f/LICENSE.md
[[licenses.clarify]]
name = "exr"
version = "*"
expression = "BSD-3-Clause"
license-files = [{ path = "LICENSE.md", hash = 4032825156 }]
