# Configuration used for dependency checking with cargo-deny.
#
# THIS IS CURRENTLY NOT USED from Bazel, but I'm keeping this
# file so we can setup Bazel deny accordingly - b/348023135.
#
# For further details on all configuration options see:
# https://embarkstudios.github.io/cargo-deny/checks/cfg.html
targets = [{ triple = "x86_64-unknown-linux-musl" }]

# Deny all advisories unless explicitly ignored.
[advisories]
vulnerability = "deny"
unmaintained = "deny"
unsound = "deny"
yanked = "deny"
notice = "deny"
ignore = []

[bans]
multiple-versions = "allow"
wildcards = "allow"

# Allow git repositories.
[sources]
unknown-git = "allow"

# List of allowed licenses.
# For more detailed information see http://go/thirdpartylicenses.
[licenses]
allow = ["Apache-2.0", "BSD-2-Clause", "MIT", "Unicode-DFS-2016"]
copyleft = "deny"
