[package]
name = "runner"
version = "0.1.0"
authors = ["Razieh Behjati <razieh@google.com>"]
edition = "2021"
license = "Apache-2.0"

[workspace]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
anyhow = "*"
oak_attestation_verification = { path = "../../oak_attestation_verification", features = [
  "std"
] }
clap = { version = "*", features = ["derive"] }
env_logger = "*"
hex = "*"
log = "*"
serde = { version = "1.0.138", features = ["derive"] }
serde_json = { version = "*", features = ["preserve_order"] }
sha2 = { version = "*", default-features = false }
time = { version = "0.3.25", features = ["serde", "parsing", "formatting"] }
