name = "metrics"

[applications]

[applications.rust]
type = "OakFunctions"
target = { Cargo = { cargo_manifest = "oak_functions/examples/metrics/module/Cargo.toml" } }

[server]
additional_args = ["--config-path=./oak_functions/examples/metrics/config.toml"]
server_variant = "Unsafe"

[clients]
rust = { Cargo = { cargo_manifest = "oak_functions/examples/metrics/client/rust/Cargo.toml" }, additional_args = [
  "--uri=http://localhost:8080"
] }
