name = "translator"

[applications]

[applications.rust]
manifest = "examples/translator/oak_app_manifest.toml"
out = "examples/translator/bin/translator.oak"

[applications.rust.modules]
module = { Cargo = { cargo_manifest = "examples/translator/module/rust/Cargo.toml" } }

[clients]
go = { Bazel = { bazel_target = "//examples/translator/client:client" } }
