[package]
name = "oak_echo_service"
version = "0.1.0"
authors = ["Ivan Petrov <ivanpetrov@google.com>"]
edition = "2021"
license = "Apache-2.0"

[dependencies]
hashbrown = "*"
log = "*"
micro_rpc = { workspace = true }
oak_attestation = { workspace = true }
oak_proto_rust = { workspace = true }
oak_restricted_kernel_sdk = { workspace = true }
prost = { workspace = true }

[build-dependencies]
micro_rpc_build = { workspace = true }

[dev-dependencies]
async-trait = "*"
oak_restricted_kernel_sdk = { workspace = true, features = [
  "mock_attestation",
] }
