[package]
name = "oak_functions_enclave_app"
version = "0.1.0"
authors = ["Andri Saar <andrisaar@google.com>"]
edition = "2021"
license = "Apache-2.0"

[features]
default = ["deny_sensitive_logging"]
# Disable sensitive logging.
deny_sensitive_logging = [
  "oak_functions_enclave_service/deny_sensitive_logging",
]
# Feature allow_sensitive_logging is not actually used in the code. It is only used as a
# required feature to differentiate between the two binaries.
allow_sensitive_logging = []

[dependencies]
oak_functions_enclave_service = { path = "../../oak_functions_enclave_service", default-features = false }
oak_functions_service = { path = "../../oak_functions_service", default-features = false }
log = "*"
micro_rpc = { workspace = true }
oak_proto_rust = { workspace = true }
oak_restricted_kernel_sdk = { workspace = true }

[[bin]]
name = "oak_functions_enclave_app"
test = false
bench = false
required-features = ["deny_sensitive_logging"]

[[bin]]
path = "src/main.rs"
name = "oak_functions_insecure_enclave_app"
test = false
bench = false
required-features = ["allow_sensitive_logging"]
