[package]
name = "oak_functions_enclave_app"
version = "0.1.0"
authors = ["Andri Saar <andrisaar@google.com>"]
edition = "2021"
license = "Apache-2.0"

[dependencies]
oak_functions_service = { path = "../../oak_functions_service", default-features = false }
log = "*"
micro_rpc = { workspace = true }
oak_enclave_runtime_support = { workspace = true }
oak_core = { workspace = true }
oak_channel = { workspace = true }
oak_remote_attestation = { workspace = true }
oak_restricted_kernel_api = { workspace = true }
static_assertions = "*"

[[bin]]
name = "oak_functions_enclave_app"
test = false
bench = false
