[package]
name = "uefi-loader"
version = "0.1.0"
authors = ["Andri Saar <andrisaar@google.com>"]
edition = "2021"
license = "Apache-2.0"

[dependencies]
anyhow = "*"
clap = { version = "*", features = ["derive"] }
command-fds = { version = "*", features = ["tokio"] }
futures = "*"
tokio = { version = "*", features = [
  "io-std",
  "io-util",
  "rt-multi-thread",
  "macros",
  "net",
  "process",
  "signal",
] }
tokio-util = { version = "*", features = ["codec"] }
