<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Oak emulator</title>
  </head>

  <body>
    <script src="https://raw.githack.com/protobufjs/protobuf.js/v6.10.1/dist/protobuf.js"></script>
    <script type="module">
      import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.esm.browser.js';

      function init() {
        var app = new Vue({
          el: '#app',
          data: {
            // Exports of the loaded Module.
            exports: [],
            // Import of the loaded Module.
            imports: [],
            // Oak ABI calls trace.
            trace: [],
            // Loaded module.
            module: null,
            // Loaded module instance.
            instance: null,
          },
          methods: {
            // Read the specified file and load it as a Wasm module.
            readFile: function (e) {
              const file = e.target.files[0];
              if (!file) {
                console.log('no file selected');
                return;
              }
              const reader = new FileReader();
              reader.onload = this.loadModule;
              reader.readAsArrayBuffer(file);
            },
            // Parse the provided ArrayBuffer as a Wasm module and load it as an Oak module,
            // providing the necessary imports.
            loadModule: async function (e) {
              const contents = e.target.result;
              console.log('file loaded');
              this.module = await WebAssembly.compile(contents);
              this.exports = WebAssembly.Module.exports(this.module);
              this.imports = WebAssembly.Module.imports(this.module);
              await this.instantiate();
            },
            instantiate: async function () {
              // Load proto files from GitHub. We cannot refer to local files unless they are served
              // via a web server first.
              // This means that if protobuf definitions are modified locally, this script will not
              // be able to use the updated definitions.
              const root = await protobuf.load([
                'https://raw.githubusercontent.com/project-oak/oak/main/oak_abi/proto/application.proto',
                'https://raw.githubusercontent.com/project-oak/oak/main/oak_abi/proto/label.proto',
                'https://raw.githubusercontent.com/project-oak/oak/main/oak_abi/proto/oak_abi.proto',
              ]);

              // Lookup the types that we will use later on.
              const NodeConfiguration = root.lookupType(
                'oak.application.NodeConfiguration'
              );
              const Label = root.lookupType('oak.label.Label');
              const OakStatus = root.lookupEnum('oak_abi.OakStatus');

              // Provide a mock implementation of some of the Oak ABI functions.
              // Mostly these just log their argument to the trace, and return a
              // successful status without actually doing anything.
              const importObject = {
                oak: {
                  wait_on_channels: (buf, count) => {
                    const status = OakStatus.values.OK;
                    const entry = `${new Date().toISOString()}: wait_on_channels(${[
                      buf,
                      count,
                    ].join(', ')}) -> ${status}`;
                    this.trace.push(entry);
                    return status;
                  },
                  channel_close: (handle) => {
                    const status = OakStatus.values.OK;
                    const entry = `${new Date().toISOString()}: channel_close(${[
                      handle,
                    ].join(', ')}) -> ${status}`;
                    this.trace.push(entry);
                    return status;
                  },
                  channel_read: (
                    handle,
                    buf,
                    size,
                    actualSize,
                    handleBuf,
                    handleCount,
                    actualHandleCount
                  ) => {
                    const status = OakStatus.values.OK;
                    const entry = `${new Date().toISOString()}: channel_read(${[
                      handle,
                      buf,
                      size,
                      actualSize,
                      handleBuf,
                      handleCount,
                      actualHandleCount,
                    ].join(', ')} -> ${status}`;
                    this.trace.push(entry);
                    return status;
                  },
                  channel_write: (
                    handle,
                    buf,
                    size,
                    handleBuf,
                    handleCount
                  ) => {
                    const status = OakStatus.values.OK;
                    const bytes = this.readMemory(buf, size);
                    const bytesString = new TextDecoder().decode(bytes);
                    const handles = new Uint8Array(
                      this.instance.exports.memory.buffer,
                      handleBuf,
                      handleCount
                    );
                    const entry = `${new Date().toISOString()}: channel_write(${[
                      handle,
                      buf,
                      size,
                      handleBuf,
                      handleCount,
                    ].join(', ')}) -> ${status}
      bytes: [${bytes}]
      bytes(string): "${bytesString}"
      handles: [${handles}]`;
                    this.trace.push(entry);
                    return status;
                  },
                  channel_create: (
                    writeHandle,
                    readHandle,
                    nameBuf,
                    nameSize,
                    labelBuf,
                    labelSize
                  ) => {
                    const status = OakStatus.values.OK;
                    const name = new TextDecoder().decode(
                      this.readMemory(nameBuf, nameSize)
                    );
                    const label = Label.decode(
                      this.readMemory(labelBuf, labelSize)
                    );
                    const entry = `${new Date().toISOString()}: channel_create(${[
                      writeHandle,
                      readHandle,
                      nameBuf,
                      nameSize,
                      labelBuf,
                      labelSize,
                    ].join(', ')}) -> ${status}
      name: ${JSON.stringify(name)}
      label: ${JSON.stringify(label)}`;
                    this.trace.push(entry);
                    return status;
                  },
                  node_create: (
                    nameBuf,
                    nameSize,
                    configBuf,
                    configLen,
                    labelBuf,
                    labelSize,
                    handle
                  ) => {
                    const status = OakStatus.values.OK;
                    const name = new TextDecoder().decode(
                      this.readMemory(nameBuf, nameSize)
                    );
                    const config = NodeConfiguration.decode(
                      this.readMemory(configBuf, configLen)
                    );
                    const label = Label.decode(
                      this.readMemory(labelBuf, labelSize)
                    );
                    const entry = `${new Date().toISOString()}: node_create(${[
                      nameBuf,
                      nameSize,
                      configBuf,
                      configLen,
                      labelBuf,
                      labelSize,
                      handle,
                    ].join(', ')}) -> ${status}
      name: ${JSON.stringify(name)}
      config: ${JSON.stringify(config)}
      label: ${JSON.stringify(label)}`;
                    this.trace.push(entry);
                    this.createNode(config);
                    return status;
                  },
                  random_get: (buf, len) => {
                    const status = OakStatus.values.OK;
                    const entry = `${new Date().toISOString()}: random_get(${[
                      buf,
                      len,
                    ].join(', ')}) -> ${status}`;
                    this.trace.push(entry);
                    return status;
                  },
                },
              };
              this.instance = await WebAssembly.instantiate(
                this.module,
                importObject
              );
            },
            readMemory: function (offset, len) {
              return new Uint8Array(
                this.instance.exports.memory.buffer,
                offset,
                len
              );
            },
            // Invoke an exported function from the module.
            invoke: function (exportName) {
              console.log('invoking export: ' + exportName);
              // Oak entrypoints expect the handle of a channel from which to read
              // messages as a parameter, so we just pass a zero value here.
              const result = this.instance.exports[exportName](BigInt(0));
              console.log('invocation result: ' + result);
            },
            createNode: function (config) {
              // TODO(#1067): Create mock nodes that replicate the functionality from the Oak
              // Runtime.
              console.log('creating node', config);
            },
            // Reset the current Wasm instance and trace, but keep the module loaded, so
            // that we can perform another invocation from scratch.
            reset: function () {
              this.trace = [];
              this.instance = null;
              // Keep `this.module` set.
              this.instantiate();
            },
          },
        });
      }
      init();
    </script>
    <div id="app">
      <p>In order to load an Oak Module, press the button below.</p>
      <p>
        This should be a single Wasm file (i.e. not a complete Oak Application).
      </p>
      <p>
        If compiled from Rust, it will usually be under the
        <code>target/wasm32-unknown-unknown</code> folder or similar (preferably
        a debug build, in order to enable sourcemap support)
      </p>
      <p>
        Once loaded, open the Chrome dev tools, navigate to the Sources tab, and
        find the source (Rust) file to debug; set a breakpoint where desired
        (e.g. near an entrypoint definition) and then press on the Invoke button
        for the relevant entrypoint (a module may have more than one entrypoint
        available)
      </p>
      <input type="file" id="file-input" v-on:change="readFile" />
      <div v-if="module">
        <p>Module loaded.</p>
        <p>Imports:</p>
        <ul>
          <li v-for="i in imports">
            <code>{{ i.module }}.{{ i.name }}</code> [{{ i.kind }}]
          </li>
        </ul>
        <p>Exports:</p>
        <ul>
          <li v-for="e in exports">
            <code>{{ e.name }}</code> [{{ e.kind }}]
            <button
              type="button"
              v-if='e.kind == "function"'
              v-on:click="invoke(e.name)"
            >
              invoke
            </button>
          </li>
        </ul>
        <p>Oak ABI call trace:</p>
        <button type="button" v-on:click="reset()">reset</button>
        <ul>
          <li v-for="e in trace">
            <pre>{{ e }}</pre>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
