name = "echo"

[applications]

[applications.rust]
type = "OakFunctions"
target = { Cargo = { cargo_manifest = "oak_functions/examples/echo/module/Cargo.toml" } }

[server]
additional_args = ["--config-path=./oak_functions/examples/echo/config.toml"]
# Enables grpc-web support for the web client.
server_variant = "Unsafe"

[clients]
# Test request coordinates are defined in `oak_functions/lookup_data_generator/src/data.rs`.
rust = { Cargo = { cargo_manifest = "oak_functions/client/rust/Cargo.toml" }, additional_args = [
  "--uri=http://localhost:8080",
  "--request=test",
  "--expected-response-pattern=test"
] }
# The web client tests are tailored for the echo example.
web = { Shell = { build_script = "", run_script = "wasm-pack test --chrome --headless experimental/web_client" } }
