[package]
name = "oak_stage0"
version = "0.1.0"
authors = ["Andri Saar <andrisaar@google.com>"]
edition = "2021"
license = "Apache-2.0"

[workspace]
resolver = "2"
members = ["."]

[dependencies]
goblin = { version = "*", default-features = false, features = ["elf64"] }
log = "*"
oak_core = { path = "../oak_core", default-features = false }
oak_linux_boot_params = { path = "../linux_boot_params" }
oak_sev_guest = { path = "../oak_sev_guest" }
sev_serial = { path = "../sev_serial" }
spinning_top = "*"
static_assertions = "*"
strum = { version = "*", default-features = false, features = ["derive"] }
x86_64 = "*"
zerocopy = "*"

[profile.dev]
opt-level = "z"
panic = "abort"

[profile.release]
opt-level = "z"
debug = true
lto = true
panic = "abort"

[[bin]]
name = "oak_stage0"
test = false
bench = false
