[package]
name = "oak_stage0"
version = "0.1.0"
authors = ["Andri Saar <andrisaar@google.com>"]
edition = "2021"
license = "Apache-2.0"

[features]
ecdsa = ["p384/ecdsa"]

[dependencies]
bitflags = "1.3.2"
elf = { version = "*", default-features = false }
log = "*"
oak_core = { path = "../oak_core", default-features = false }
oak_linux_boot_params = { path = "../linux_boot_params" }
oak_sev_guest = { path = "../oak_sev_guest", default-features = false }
sev_serial = { path = "../sev_serial" }
spinning_top = "*"
static_assertions = "*"
strum = { version = "*", default-features = false, features = ["derive"] }
x86_64 = "*"
zerocopy = "*"
p384 = { version = "*", features = ["ecdsa"] }
