[Unit]
Description=Oak Containers Orchestrator
After=network-online.target
Wants=network-online.target
FailureAction=poweroff-force
SuccessAction=poweroff-force

[Service]
Type=simple
ExecStart=/bin/oak_containers_orchestrator

[Install]
WantedBy=multi-user.target
