[Unit]
Description=Reset root password
ConditionKernelCommandLine=debug

[Install]
WantedBy=getty.target

[Service]
Type=oneshot
ExecStart=passwd --delete --expire root
