[package]
name = "oak_stage0_bin"
version = "0.1.0"
authors = ["Andri Saar <andrisaar@google.com>"]
edition = "2021"
license = "Apache-2.0"

[workspace]
resolver = "2"
members = ["."]

[dependencies]
oak_stage0 = { path = "../stage0" }
oak_stage0_sev = { path = "../stage0_sev" }

[profile.dev]
opt-level = "z"
panic = "abort"

[profile.release]
opt-level = "z"
debug = true
lto = true
panic = "abort"

[[bin]]
name = "oak_stage0_bin"
test = false
bench = false
