[package]
name = "oak_containers_orchestrator_client"
version = "0.1.0"
authors = ["Juliette Pretot <julsh@google.com>"]
edition = "2021"
license = "Apache-2.0"

[build-dependencies]
oak_grpc_utils = { workspace = true }

[dependencies]
anyhow = "*"
prost = "*"
tokio = { version = "*", features = ["rt-multi-thread", "macros", "sync"] }
tonic = "*"
tower = "*"
