[package]
name = "oak_functions_service"
version = "0.1.0"
authors = ["Andri Saar <andrisaar@google.com>"]
edition = "2021"
license = "Apache-2.0"

[features]
default = ["deny_sensitive_logging"]
# Disable sensitive logging.
deny_sensitive_logging = []
std = ["anyhow/std", "wasmi/std"]

[dependencies]
anyhow = { version = "*", default-features = false }
byteorder = { version = "*", default-features = false }
bytes = { version = "*", default-features = false }
hashbrown = "*"
log = "*"
micro_rpc = { workspace = true }
oak_core = { workspace = true }
oak_crypto = { workspace = true }
oak_functions_abi = { workspace = true }
oak_functions_sdk = { workspace = true }
oak_remote_attestation = { workspace = true }
prost = { workspace = true }
spinning_top = "*"
wasmi = { version = "*", default-features = false }

[build-dependencies]
micro_rpc_build = { workspace = true }

[dev-dependencies]
benchmark = { workspace = true }
env_logger = { version = "*", default-features = false }
oak_functions_test_utils = { workspace = true }
oak_remote_attestation = { workspace = true }
async-trait = "*"
tokio = { workspace = true, features = ["rt", "macros"] }
