[package]
name = "oak_functions_service"
version = "0.1.0"
authors = ["Andri Saar <andrisaar@google.com>"]
edition = "2021"
license = "Apache-2.0"

[dependencies]
anyhow = { version = "*", default-features = false }
hashbrown = "*"
log = "*"
micro_rpc = { workspace = true }
oak_crypto = { workspace = true }
oak_functions_wasm = { workspace = true }
oak_functions_abi = { workspace = true }
oak_functions_lookup = { workspace = true }
oak_functions_workload_logging = { workspace = true }
oak_remote_attestation = { workspace = true }
oak_logger = { workspace = true }
prost = { workspace = true }

[build-dependencies]
micro_rpc_build = { workspace = true }

[dev-dependencies]
oak_functions_test_utils = { workspace = true }
oak_remote_attestation_amd = { workspace = true }
async-trait = "*"
tokio = { workspace = true, features = ["rt", "macros"] }
