[package]
name = "oak_launcher_utils"
version = "0.1.0"
authors = ["Dzmitry Huba <huba@google.com>"]
edition = "2021"
license = "Apache-2.0"

[dependencies]
anyhow = "*"
async-trait = "*"
bmrng = "*"
clap = { version = "*", features = ["derive"] }
command-fds = { version = "*", features = ["tokio"] }
log = "*"
prost = { workspace = true }
tokio = { version = "*", features = [
  "rt-multi-thread",
  "macros",
  "net",
  "process",
  "signal",
  "sync",
] }
micro_rpc = { path = "../micro_rpc" }
oak_channel = { path = "../oak_channel", features = ["client"] }
hashbrown = "*"

[build-dependencies]
micro_rpc_build = { path = "../micro_rpc_build" }
