# This is the static build configuration that we use with the docker-based SLSA3 generator for
# building the `oak_functions_enclave_app` binary, and its provenance.
# See https://github.com/slsa-framework/slsa-github-generator/tree/main/internal/builders/docker.
command = [
  "nix",
  "develop",
  ".#rust",
  "--command",
  "env",
  "--chdir=enclave_apps/oak_functions_enclave_app",
  "cargo",
  "build",
  "--release",
]
artifact_path = "./enclave_apps/target/x86_64-unknown-none/release/oak_functions_enclave_app"
binary_file = "./enclave_apps/target/x86_64-unknown-none/release/oak_functions_enclave_app"
package_name = "oak_functions_enclave_app"
