command = [
  "nix",
  "develop",
  ".#rust",
  "--command",
  "just",
  "oak_restricted_kernel_simple_io_init_rd_wrapper",
]
artifact_path = "./oak_restricted_kernel_wrapper/target/x86_64-unknown-none/release/oak_restricted_kernel_simple_io_init_rd_wrapper_bin"
