[package]
name = "key_value_lookup"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
oak_functions_sdk = { workspace = true }

[dev-dependencies]
oak_client = { workspace = true }
oak_functions_abi = { workspace = true }
oak_functions_client = { workspace = true }
hashbrown = "*"
http = "*"
maplit = "*"
oak_functions_test_utils = { workspace = true }
tokio = { version = "*", features = [
  "fs",
  "macros",
  "sync",
  "rt-multi-thread",
] }
log = "*"
