[package]
name = "oak_restricted_kernel"
version = "0.1.0"
authors = ["Andri Saar <andrisaar@google.com>"]
edition = "2021"
license = "Apache-2.0"

[features]
default = ["vsock_channel"]
virtio_console_channel = ["virtio-drivers"]
vsock_channel = ["oak_virtio"]
serial_channel = ["uart_16550"]
simple_io_channel = ["oak_simple_io"]

[dependencies]
acpi = "*"
aml = "*"
anyhow = { version = "*", default-features = false }
arrayvec = { version = "*", default-features = false }
atomic_refcell = "*"
bitflags = "*"
bitvec = { version = "*", default-features = false }
coset = { version = "*", default-features = false }
goblin = { version = "*", default-features = false, features = [
  "elf32",
  "elf64",
  "endian_fd",
] }
hex = { version = "*", default-features = false, features = ["alloc"] }
linked_list_allocator = { version = "*", features = ["alloc_ref"] }
log = "*"
libm = "*"
oak_channel = { workspace = true }
oak_core = { workspace = true }
oak_crypto = { workspace = true }
hpke = { version = "*", default-features = false, features = ["alloc"] }
oak_dice = { workspace = true }
oak_simple_io = { workspace = true, optional = true }
oak_linux_boot_params = { workspace = true }
oak_restricted_kernel_dice = { workspace = true }
oak_restricted_kernel_interface = { workspace = true }
rust-hypervisor-firmware-virtio = { path = "../third_party/rust-hypervisor-firmware-virtio" }
oak_sev_guest = { workspace = true, features = ["rust-crypto"] }
p256 = { version = "*", default-features = false, features = ["ecdsa"] }
self_cell = "*"
sev_serial = { workspace = true }
spinning_top = "*"
static_assertions = "*"
strum = { version = "*", default-features = false, features = ["derive"] }
uart_16550 = { version = "*", optional = true }
oak_virtio = { workspace = true, optional = true }
virtio-drivers = { version = "*", optional = true }
x86_64 = "*"
zerocopy = "*"
zeroize = "*"

[dev-dependencies]
assertables = "*"
