[package]
name = "oak_restricted_kernel"
version = "0.1.0"
authors = ["Andri Saar <andrisaar@google.com>"]
edition = "2021"
license = "Apache-2.0"

[features]
c_interface = ["hashbrown", "libc", "spinning_top", "static_assertions"]
default = ["vsock_channel"]
virtio_console_channel = ["virtio"]
vsock_channel = ["virtio"]
serial_channel = ["uart_16550"]
simple_io_channel = ["oak_simple_io"]

[dependencies]
anyhow = { version = "*", default-features = false }
arrayvec = { version = "*", default-features = false }
atomic_refcell = "*"
bitvec = { version = "*", default-features = false }
goblin = { version = "*", default-features = false, features = [
  "elf32",
  "elf64",
  "endian_fd"
] }
hashbrown = { version = "*", optional = true }
lazy_static = { version = "*", features = ["spin_no_std"] }
linked_list_allocator = { version = "*" }
log = "*"
libc = { version = "*", optional = true }
libm = "*"
oak_channel = { path = "../oak_channel" }
oak_simple_io = { path = "../oak_simple_io", optional = true }
oak_linux_boot_params = { path = "../linux_boot_params" }
rust-hypervisor-firmware-virtio = { path = "../third_party/rust-hypervisor-firmware-virtio" }
sev_guest = { path = "../experimental/sev_guest" }
sev_serial = { path = "../sev_serial" }
spinning_top = { version = "*", optional = true }
static_assertions = { version = "*", optional = true }
strum = { version = "*", default-features = false, features = ["derive"] }
uart_16550 = { version = "*", optional = true }
virtio = { path = "../experimental/virtio", optional = true }
x86_64 = "*"

[dev-dependencies]
assertables = "*"
