[package]
name = "oak_restricted_kernel"
version = "0.1.0"
authors = ["Andri Saar <andrisaar@google.com>"]
edition = "2021"
license = "Apache-2.0"

[features]
c_interface = ["hashbrown", "libc"]
default = ["vsock_channel"]
virtio_console_channel = []
vsock_channel = ["oak_virtio"]
serial_channel = ["uart_16550"]
simple_io_channel = ["oak_simple_io"]

[dependencies]
acpi = "*"
aml = "*"
anyhow = { version = "*", default-features = false }
arrayvec = { version = "*", default-features = false }
atomic_refcell = "*"
bitflags = "*"
bitvec = { version = "*", default-features = false }
goblin = { version = "*", default-features = false, features = [
  "elf32",
  "elf64",
  "endian_fd"
] }
hashbrown = { version = "*", optional = true }
linked_list_allocator = { version = "*", features = ["alloc_ref"] }
log = "*"
libc = { version = "*", optional = true }
libm = "*"
oak_channel = { path = "../oak_channel" }
oak_core = { path = "../oak_core" }
oak_simple_io = { path = "../oak_simple_io", optional = true }
oak_linux_boot_params = { path = "../linux_boot_params" }
rust-hypervisor-firmware-virtio = { path = "../third_party/rust-hypervisor-firmware-virtio" }
oak_sev_guest = { path = "../oak_sev_guest" }
sev_serial = { path = "../sev_serial" }
spinning_top = { version = "*" }
static_assertions = { version = "*" }
strum = { version = "*", default-features = false, features = ["derive"] }
uart_16550 = { version = "*", optional = true }
oak_virtio = { path = "../oak_virtio", optional = true }
virtio-drivers = "*"
x86_64 = "*"
zerocopy = "*"

[dev-dependencies]
assertables = "*"
