[package]
name = "oak_functions_containers_launcher"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"

[build-dependencies]
oak_grpc_utils = { workspace = true }

[dependencies]
anyhow = "*"
async-stream = "*"
clap = { version = "*", features = ["derive"] }
env_logger = "*"
futures = "*"
log = "*"
oak_attestation = { workspace = true }
oak_containers_launcher = { workspace = true }
oak_crypto = { workspace = true }
oak_functions_launcher = { workspace = true }
oak_proto_rust = { workspace = true }
prost = "*"
tokio = { version = "*", features = ["rt-multi-thread", "macros", "sync"] }
tokio-vsock = "*"
tonic = { workspace = true }
tower = "*"
ubyte = "*"

[dev-dependencies]
oak_client = { workspace = true }
oak_functions_client = { workspace = true }
oak_functions_test_utils = { workspace = true }
portpicker = "*"
xtask = { workspace = true }
