[package]
name = "oak_functions_containers_launcher"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"

[build-dependencies]
oak_grpc_utils = { workspace = true }

[dependencies]
anyhow = "*"
clap = { version = "*", features = ["derive"] }
prost = "*"
tokio = { version = "*", features = ["rt-multi-thread", "macros", "sync"] }
tonic = { workspace = true }
oak_containers_launcher = { workspace = true }
