[package]
name = "oak_functions_containers_app"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"

[build-dependencies]
oak_grpc_utils = { workspace = true }

[dependencies]
anyhow = "*"
async-trait = { version = "*", default-features = false }
clap = { version = "*", features = ["derive"] }
http = "*"
oak_attestation = { workspace = true }
oak_containers_orchestrator = { workspace = true }
oak_containers_sdk = { workspace = true }
oak_functions_service = { workspace = true, features = ["std"] }
oak_crypto = { workspace = true }
micro_rpc = { workspace = true }
opentelemetry = { version = "*", default-features = false, features = [
  "metrics",
  "trace",
] }
opentelemetry_sdk = { version = "*", default-features = false, features = [
  "metrics",
  "trace",
  "rt-tokio",
] }
opentelemetry-otlp = { version = "*", default-features = false, features = [
  "metrics",
  "trace",
] }
prost = "*"
tokio = { version = "*", features = ["rt-multi-thread", "macros", "sync"] }
tokio-stream = { version = "*", features = ["net"] }
tonic = { workspace = true }
tower = { version = "*", features = ["load-shed"] }
tower-http = { version = "*", features = ["trace"] }
tracing = "*"

[dev-dependencies]
oak_functions_test_utils = { workspace = true }
