[package]
name = "oak_functions_containers_app"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"

[build-dependencies]
oak_grpc_utils = { workspace = true }

[dependencies]
anyhow = "*"
oak_functions_service = { workspace = true }
oak_crypto = { workspace = true }
oak_remote_attestation = { workspace = true }
micro_rpc = { workspace = true }
prost = "*"
tokio = { version = "*", features = ["rt-multi-thread", "macros", "sync"] }
tokio-stream = { version = "*", features = ["net"] }
tonic = { workspace = true }
tower = "*"
