[package]
name = "oak_crypto"
version = "0.1.0"
authors = ["Ivan Petrov <ivanpetrov@google.com>"]
edition = "2021"
license = "Apache-2.0"

[dependencies]
aes-gcm = { version = "*", default-features = false, features = [
  "aes",
  "alloc"
] }
anyhow = { version = "*", default-features = false }
async-trait = { version = "*", default-features = false }
bytes = { version = "*", default-features = false }
hkdf = { version = "*", default-features = false }
hpke = { version = "*", default-features = false, features = [
  "alloc",
  "x25519"
] }
p256 = { version = "*", default-features = false, features = [
  "ecdsa",
  "alloc"
] }
prost = { version = "*", default-features = false, features = ["prost-derive"] }
rand_core = { version = "*", default-features = false, features = [
  "getrandom"
] }
sha2 = { version = "*", default-features = false }
zeroize = "*"

[build-dependencies]
micro_rpc_build = { workspace = true }

[dev-dependencies]
tokio = { version = "*", features = ["macros", "rt-multi-thread"] }
