[package]
name = "oak_sev_guest"
version = "0.1.0"
authors = ["Conrad Grobler <grobler@google.com>"]
edition = "2021"
license = "Apache-2.0"

[features]
default = ["rust-crypto"]
rust-crypto = ["aes-gcm"]

[dependencies]
aes-gcm = { version = "*", optional = true, default-features = false, features = [
  "aes",
] }
bitflags = "*"
lock_api = "*"
spinning_top = "*"
static_assertions = "*"
snafu = { version = "*", default-features = false }
strum = { version = "*", default-features = false, features = ["derive"] }
zerocopy = { version = "*", features = ["derive"] }
x86_64 = "*"
