[package]
name = "oak_restricted_kernel_orchestrator"
version = "0.1.0"
authors = ["Juliette Pluto <julsh@google.com>"]
edition = "2021"
license = "Apache-2.0"

[features]
exchange_evidence = ["oak_attestation", "prost"]

[dependencies]
oak_channel = { workspace = true }
oak_dice = { workspace = true }
oak_attestation = { workspace = true, optional = true }
oak_restricted_kernel_dice = { workspace = true }
log = "*"
prost = { workspace = true, optional = true }
