[package]
name = "oak_containers_stage1"
version = "0.1.0"
edition = "2021"
authors = ["Andri Saar <andrisaar@google.com>"]
license = "Apache-2.0"

[build-dependencies]
oak_grpc_utils = { workspace = true }

[dependencies]
anyhow = "*"
clap = { version = "*", features = ["derive"] }
futures-util = "*"
oak_crypto = { workspace = true }
oak_remote_attestation = { workspace = true }
nix = "*"
prost = { workspace = true }
prost-types = "*"
rtnetlink = "*"
tar = "*"
tokio = { version = "*", features = [
  "rt-multi-thread",
  "macros",
  "process",
  "sync"
] }
tonic = { workspace = true }
tower = "*"
xz2 = "*"
