[package]
name = "oak_attestation_proto"
version = "0.0.1"
edition = "2021"
license = "Apache-2.0"

[dependencies]
prost = { workspace = true }

[build-dependencies]
prost-build = { workspace = true }
