#
# Copyright 2018 Asylo authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
build:sgx-sim --crosstool_top=@com_google_asylo_sgx_backend//toolchain:crosstool
build:sgx-sim --dynamic_mode=off
build:sgx-sim --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
build:sgx-sim --fission=no
build:sgx-sim --custom_malloc=@com_google_asylo_sgx_backend//toolchain:crosstool
build:sgx-sim --define=SGX_SIM=1
build:sgx-sim --define=grpc_no_ares=true
# The enclave simulation backend currently makes use of the SGX simulator.
# However, this is subject to change and users of this config should not
# make assumptions about it being related to SGX.
build:enc-sim --config=sgx-sim
