name: SLSA3 Provenances for MNIST model evaluation

# See https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#example-using-concurrency-to-cancel-any-in-progress-job-or-run
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  workflow_dispatch:
    branches: [main]
  pull_request:
    branches: [main]

# Ref: https://github.com/project-oak/hello-transparent-release/blob/main/.github/workflows/provenance.yaml
jobs:
  generate_provenance:
    permissions:
      actions: read
      id-token: write
      contents: write
    uses: slsa-framework/slsa-github-generator/.github/workflows/builder_container-based_slsa3.yml@v1.7.0
    with:
      builder-image: 'europe-west2-docker.pkg.dev/oak-ci/mnist-eval/mnist-eval'
      builder-digest: 'sha256:08d75bc2e1e464d7c4bb3ee3c6dc3d53fbbbbb76112ecd4b51eac5a9912cc2fa'
      config-path: 'buildconfigs/oak_ml_transparency_eval.toml'
      provenance-name: 'mnist_eval.intoto'
      compile-builder: true
