name: Build All Provenances

# See https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#example-using-concurrency-to-cancel-any-in-progress-job-or-run
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build_binary:
    # We use the same job template to generate provenances for multiple binaries.
    strategy:
      fail-fast: false
      matrix:
        buildconfig:
          - buildconfigs/oak_echo_enclave_app.toml
          - buildconfigs/oak_echo_raw_enclave_app.toml
          - buildconfigs/oak_restricted_kernel_bin.toml
          - buildconfigs/oak_restricted_kernel_simple_io_bin.toml
          - buildconfigs/oak_functions_enclave_app.toml
          - buildconfigs/oak_tensorflow_enclave_app.toml
          - buildconfigs/quirk_echo_enclave_app.toml
          - buildconfigs/stage0.toml

    permissions:
      actions: read
      id-token: write
      # Allow the job to update the repo with the latest provenance info and index.
      contents: write
      # Allow the job to add a comment to the PR.
      pull-requests: write
    uses: ./.github/workflows/reusable_provenance.yaml
    with:
      build-config-path: ${{ matrix.buildconfig }}
    secrets:
      ENT_API_KEY: ${{ secrets.ENT_API_KEY }}

  # build_oak_functions_binary:
  #   permissions:
  #     actions: read
  #     id-token: write
  #     # Allow the job to update the repo with the latest provenance info and index.
  #     contents: write
  #     # Allow the job to add a comment to the PR.
  #     pull-requests: write
  #   uses: ./.github/workflows/reusable_provenance.yaml
  #   with:
  #     build-config-path: buildconfigs/slsav1_oak_functions_enclave_app.toml
  #   secrets:
  #     ENT_API_KEY: ${{ secrets.ENT_API_KEY }}

  # build_oak_tensorflow_binary:
  #   permissions:
  #     actions: read
  #     id-token: write
  #     # Allow the job to update the repo with the latest provenance info and index.
  #     contents: write
  #     # Allow the job to add a comment to the PR.
  #     pull-requests: write
  #   uses: ./.github/workflows/reusable_provenance.yaml
  #   with:
  #     build-config-path: buildconfigs/slsav1_oak_restricted_kernel_bin.toml
  #   secrets:
  #     ENT_API_KEY: ${{ secrets.ENT_API_KEY }}
